<div class="background__container">
    <div class="home__container">
        <app-card
            gameTitle="Battlefield 1"
            console="PS4 - PS5"
            gameCover="assets/bt-1.jpg"
            gameStatus="DIGITAL"
            value="R$ 299,00"
        ></app-card>

        <app-card
            gameTitle="Battlefield 4"
            console="PS4"
            gameCover="assets/bt-4.jpg"
            gameStatus="LAST COPIES"
            value="R$ 199,00"
        ></app-card>

        <app-card
            gameTitle="Assassins Creed"
            console="PS4 - PS5 - PC"
            gameCover="assets/ac-cover.jpg"
            gameStatus="BEST OF THE YEAR"
            value="R$ 399,00"
        ></app-card>
    </div>
</div>


