.card-info__container {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: antiquewhite;
    background-color: #0000007e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 87px;
    padding: 10px;
    font-family: Calibri;
}

.card-info__value__console {
    display: flex;
    margin: 3px 0;
}

.card-info__value__console > span {
    color: aqua;
    margin: 0 6px
}

.card-info__title {
    margin: 6px 0
}

.card-info__value {
    display: flex;
    justify-content: space-between;
}

.card-info__value__price {
    margin-right: 7px;
}